@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        @using (Html.BeginForm("index", "Home", FormMethod.Post))
        {
            @Html.TextBox("txtNumero_1");
            @Html.TextBox("txtNumero_2");
    <select name="operacao">
        <option value="1">Soma</option>
        <option value="2">Subtração</option>
        <option value="3">Divisao</option>
        <option value="4">Multiplicação</option>
    </select>

            <input type="submit" formaction="@Url.Action("index", "Home")" name="Calcular" />
       }

        <div>
            <h1>@ViewBag.Resultado</h1>
        </div>

    </div>
